/* Text is centered, font-family all body*/
body {
	font-family: Helvetica;
	text-align: center;
}
/* Image, Color white, Bold text in the "header" and "line"*/
.header, .line{
	background-image: url(../images/the-flatiron-building.png);
	color: white;
	font-weight: bold;
}

/* footer */
.footer {
	text-align: left;
	background-color: dimgray;
}

.btn, 
.footer {
	color: white;
}

/* font-size */
.header .btn {
	font-size: 18px;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

.header h1 {
	font-size: 70px;
}
